<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>gpstest</title>
</head>
<body>
    <h2>test</h2>

    <form id="gpsForm" action="/gpsTest" method="POST">
        <input type="hidden" id="lat" name="lat">
        <input type="hidden" id="lng" name="lng">
        <button type="button" onclick="getLocation()">GPSTEST</button>
    </form>

    <p id="locationText"> 位置情報を取得中...</p>
    <a href="/work_submit">戻る</a>

<!--    // Google Maps APIが読み込まれたらinitMap()を実行   -->
    <script th:src="@{'https://maps.googleapis.com/maps/api/js?key='
    + ${@environment.getProperty('googleMapsApiKey')}
    + '&callback=initMap'}" async defer> </script>

    <h1>Spring Boot と JavaScript の練習</h1>
    <button id="changeTextButton">ボタンをクリックしてテキストを変更</button>
    <p id="dynamicText">ここに動的なテキストが表示されます。</p>

    <button type="button" onclick="testDoOnclick()">位置表示</button>
    <button type="button" onclick="initMap()">initMap</button>
    <button id="btn_addEventListenerGetLocation">addEventListenerGetLocation</button>
    <button id="btn_addEventListenerInitMap">addEventListenerInitMap</button>

    <!-- ✅ JSファイル読み込み (超重要) -->
    <script th:src="@{/js/map.js}" defer></script>
</body>
</html>
