<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>勤務管理</title>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="container mt-4">
    <h1 class="text-center">勤務管理システム</h1>
    <h2 class="text-center">ユーザー名 : <span th:text="${username}"></span></h2>
    <div class="carp p-4 mt-4">
        <h3>本日の勤務記録  <span th:text="${#dates.createNow()}"></span></h3>
        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
            <tr>
                <th>日付</th>
                <th>出勤時間</th>
                <th>退勤時間</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" ></td>
                <td th:text="${isTodayRecorded  ?
                    #temporals.format(userWorkRecord.clockInTime, 'HH:mm') : '---' }"></td>
                <td th:text="${userWorkRecord.clockOutTime != null ?
                    #temporals.format(userWorkRecord.clockOutTime, 'HH:mm') : '---'}"></td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="d-flex justify-content-center gap-4 mt-1">
        <form action="/clockIn" method="post">
            <button type="submit" class="btn btn-success btn-lg" th:disabled="${isTodayRecorded}">出勤</button>

        </form>
        <form th:action="${userWorkRecord.clockInTime != null}
                  ? @{/clock-out/{id}(id=${userWorkRecord.id})} : '#'" method="POST">
            <button type="submit" class="btn btn-danger btn-lg"
                    th:disabled="${userWorkRecord.clockInTime == null or userWorkRecord.clockOutTime !=null }">退勤
            </button>
        </form>
        <form th:action="${ (userWorkRecord.clockInTime != null and isTodayRecorded)}
            ? @{/cancel/{id}(id=${userWorkRecord.id})} : '#'" method="POST">
            <button type="submit" class="btn btn-warning btn-lg" th:disabled="${userWorkRecord.clockInTime==null}">取消
            </button>
        </form>
    </div>
    <div class="d-flex justify-content-center gap-3 mt-4">
        <a href="/work_records" class="btn btn-info">一覧画面</a>
        <a href="/" class="btn btn-dark">戻る</a>
    </div>

    <p id="locationText">位置情報を取得中...</p>
    <div id="map" style="height: 300px; width: 100%;"></div>
    <form id="gpsForm" action="/gpsTest" method="POST">
        <input type="hidden" id="lat" name="lat">
        <input type="hidden" id="lng" name="lng">
        <button type="button" onclick="getLocation()">GPSTEST</button>
    </form>
    <p th:if="${gpsResult != null}">位置判定：<span th:text="${gpsResult}"></span></p>
    <a href="/work_submit" >戻る</a>
    <button type="button" onclick="initMap()">位置表示</button>


    <script
            th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${@environment.getProperty('googleMapsApiKey')}}" async defer>
<!--            // Google Maps APIが読み込まれたらinitMap()を実行   一時的にOFF-->
<!--     th:src="@{'https://maps.googleapis.com/maps/api/js?key='-->
<!--    + ${@environment.getProperty('googleMapsApiKey')}-->
<!--    + '&callback=initMap'}" async defer> -->
    </script>

    <script th:src="@{/js/map.js}" defer></script>

</body>
</html>
